body{
font-family: Arial;
text-align:center;
background:#121212;
color:white;
}

input{
padding:10px;
width:300px;
}

button{
padding:10px;
}

#results{
display:flex;
flex-wrap:wrap;
justify-content:center;
margin-top:20px;
}

.song{
background:#1db954;
padding:15px;
margin:10px;
width:200px;
border-radius:10px;
}

.song img{
width:100%;
border-radius:10px;
}